*{
    margin: 0;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #1f2937;
    color: #F9FAF8;
    
}

.container {
    width: 90%;
    margin: 0 auto;
    display: flex;
}

.header-wrapper{
    align-items: flex-end;
    justify-content: space-around;

}

header {
    background-color: #1f2937;
    padding: 20px 0;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-logo {
    font-size: 24px;
    color: #F9FAF8;
}

nav a {
    margin-left: 20px;
    font-size: 18px;
    color: #E5E7EB;
    text-decoration: none;
}
nav{
    display: flex;
    align-items: flex-end;
}


.hero {
    background-color: #1f2937;
    padding: 100px 0;
    /* text-align: center; */
}

.hero-wrapper{
    padding: 40px;
    flex: 1;

}

.hero h1 {
    font-size: 48px;
    font-weight: bold;
    color: #F9FAF8;
}

.hero p {
    font-size: 18px;
    color: #E5E7EB;
}

.hero button {
    background-color: #3882F6;
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

.hero-content{
    width: 45%;
    display: flex;
    flex-direction: column;
    
    align-items: flex-start;
}
.hero-image{
    padding:10px;
    margin: 0 auto;
    width: 45%;
   
}

.information {
    background-color: #F9FAF8;
    padding: 100px 0;
    text-align: center;
}

.information h2 {
    font-size: 36px;
    font-weight: bold;
    color: #1F2937;
}

.info-tiles {
    display: flex;
    justify-content: space-around;
}

.info-tiles div {
    background-color: #F9FAF8;
    padding: 20px;
    border: 2px solid #3882F6;
    border-radius: 10px;
    text-align: center;
}

.quote {
    background-color: #E5E7EB;
    padding: 100px 0;
    text-align: center;
}

.quote blockquote {
    font-size: 36px;
    font-style: italic;
    color: #1F2937;
}

.call-to-action {
    background-color: #F9FAF8;
    padding: 100px 0;
    text-align: center;
}

.call-to-action .cta-content {
    display: flex;
    justify-content: center;
    align-items: center;
}

.call-to-action .cta-text {
    text-align: left;
    margin-right: 20px;
}

.call-to-action .cta-title {
    font-weight: bold;
    font-size: 24px;
    color: #3882F6;
}

.call-to-action button {
    background-color: transparent;
    color:  #3882F6;
    border: 1px solid  #3882F6;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
}

footer {
    background-color: #1f2937;
    padding: 20px 0;
    text-align: center;
}

footer p {
    margin: 0;
}
